<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="{{page.metadescription}}">
    <meta name="keywords" content="{{page.metatags}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
     <link rel="amphtml" href="{{ page.id | prepend: '/AMP' | prepend: site.baseurl | prepend: site.url | append: '.html' }}">

    <script type="text/javascript">


            function KeyWordifylist(posts)
            {
                const urlParams = new URLSearchParams(window.location.search);
                const myParam = urlParams.get('keyword');

                console.log(getAllIndexes(posts, myParam));

                var results = getAllIndexes(posts, myParam);

                for(i = 0; i < results.length; i++){
                    $("#keywordlist").append('<h2>' + results[i].title + '</h2><a href="..' + results[i].url + '">Läs mer</a>');
                }

            }

            function getAllIndexes(arr, val) {

                var indexes = [], i;
                for(i = 0; i < arr.length; i++){

                    var obj = JSON.parse(arr[i])

                    if (obj.tags.includes(val)){

                        indexes.push(obj);
                    }
                }
                return indexes;
            }
    </script>

    {% if(page.metadescription) %}
        <script type=”application/ld+json”>
        {
        “@context”: “http://schema.org”,
        “@type”: “BlogPosting”,
        “mainEntityOfPage”:{
        “@type”:”WebPage”,
        “@id”:”http://www.wordlist.se{{page.permalink}}”
        },
        “headline”: “{{page.title}}”,
        “datePublished”: “2016-02-12”,
        “dateModified”: “2016-02-12”,
        “author”: {
        “@type”: “Organization”,
        “name”: “WYWH”
        },
        “description”: “{{page.metadescription}}”,
        “articleBody”: “{{page.content}}”
        }
        </script>
{% endif %} 

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134130966-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134130966-1');
    </script>



</head>
