---
layout: default
---
<nav class="breadcrumb">
	<a href="/">Start</a> / <span>{{ page.title }}</span>
</nav>

<h1 class="u-text--large">{{ page.title }}</h1>

<div class="bread">

{% assign metatags = page.metatags | split: ", " %}

{% for tag in metatags %}
	<span><a href="/keywords/?keyword={{ tag }}">#{{ tag }}</a></span>
{% endfor %}

{{ page.content }}

{% if page.externallinks %}
	{% for link in page.externallinks %}
		<li><a href="{{ link }}">#{{ link }}</a></li>
	{% endfor %}
{% endif %}

</div>

{% if page.related %}
    {% for related in page.related %}

		{% assign foo_pages = site.pages | where:"permalink",related.slug %}

    	{% for page in foo_pages  %}
			<div class="related">
				<H2>{{ page.title }}</H2>
				<hr />
				<p>{{ page.metadescription }}</p>
				<a href="{{ page.permalink  }}">{{ page.title }}</a>
			</div>
    	{% endfor %}

    {% endfor %}
{% endif %}
