---
layout: default
---
<nav class="breadcrumb">
	<a href="/">Start</a> / <span>{{ page.title }}</span>
</nav>

<h1 class="u-text--large">{{ page.title }}</h1>

<div class="bread">

{% assign metatags = page.metatags | split: ", " %}

{% for tag in metatags %}
	<span><a href="/keywords/?keyword={{ tag }}">#{{ tag }}</a></span>
{% endfor %}

<div vocab="http://schema.org/" typeof="ScholarlyArticle" resource="#article">
{{ page.content }}
</div>

{% if page.externallinks %}
	<h3>Extern läsning om {{ page.title }}</h3>
	<ul>
	{% for link in page.externallinks %}
    	<li><a href="{{ link.link }}">{{ link.link }}</a></li>
   	{% endfor %}
   	</ul>
{% endif %} 	
</div>


{% if page.related %}
    {% for related in page.related %}
    	{% for ord in site.ord %}
    		{% if related.slug contains ord.permalink  %}
				<div class="related">
					<H2>{{ ord.title }}</H2>
					<hr />
					<p>{{ ord.metadescription }}</p>
					<a href="{{ ord.permalink  }}">{{ ord.title }}</a>
				</div>
			{% endif %}
    	{% endfor %}
    {% endfor %}
{% endif %}
